<!DOCTYPE html>

<html>
<head>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbDE8OZXNK-gNSUYfKL5-8eVvlOl2_6GE&libraries=places"></script>



  <script>


$(function(){

  navigator.geolocation.getCurrentPosition(getWebsites);



function getWebsites(position){
  var url =  '/getWebsites/store/restaurant/' + position.coords.longitude + '/' + position.coords.latitude;
  console.log(url);

  $.ajax({
  url: url,
    type: "GET",
  success: function(data){
    console.log(data);
  }

});


}

});


  </script>
</head>
<body>
  <h1>Test </h1>
</body>
</html>
