html, body{
  width: 100%;
  height: 100%;



}


div.text-wrapper{
	width: 100%;
	height: 100%;
}

div.one-sect{
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #FCEADE;
}


div.one-sect h2{
	font-weight: normal;
}
.ui.button.find-btn{
	font-size: 20px;
	background-color: #FF8A5B;
	color: white;
}